univschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:complexType name ="uniType">
 <xsd:sequence>
  <xsd:element ref="student" maxOccurs="unbounded"/>
 </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="stuType">
 <xsd:sequence>
  <xsd:element ref="name"/>
  <xsd:element ref="year"/>
 </xsd:sequence>
</xsd:complexType>

<xsd:element name="university" type="uniType"/>
<xsd:element name="student" type="stuType"/>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="year" type="xsd:integer"/>
</xsd:schema>
